* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #f5f2f0;
    overflow: hidden;
}

/* navbar desighn  */

nav {
    display: flex;
    justify-content: space-between;
    padding: 2% 10%;
    align-items: center;
}

nav .logo img {
    height: 45px;
    width: 120px;
}

.line-1 {
    height: 2.5px;
    width: 30%;
    background: black;
    margin-left: 25rem;
}

.list-items ul {
    list-style: none;
    display: flex;
    /* padding: 10px; */
}

.list-items ul li {
    padding: 20px;
    cursor: pointer;
}

.list-items ul .active {
    font-weight: bold;
}

@media screen and (max-width:900px) {
    nav {
        display: flex;
        flex-direction: column;
        padding: 2% 0%;
        align-items: flex-start;
    }

    .line-1 {
        display: none;
    }

    .list-items ul {
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    .list-items ul li {
        padding: 5px;
        cursor: pointer;
    }

    nav .logo img {
        height: 30px;
        width: 80px;
    }



}

@media screen and (max-width:600px) {
    nav {
        overflow-x: auto;
    }

    .line-1 {
        display: none;
    }

    .list-items ul li {
        padding: 4px;
        cursor: pointer;
    }

}

/* main section  */

.main-left img {
    position: absolute;
    top: 0;
    height: 100vh;
    z-index: -1;
}

.main-right .heading {
    position: absolute;
    left: 45%;
    top: 156px;

}

.heading h1 {
    font-size: 7rem;
    font-weight: 900;
    color: #333333;
}

.main-right .heading>h1 {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.heading>h1::after {
    content: "";
    width: 50px;
    height: 12px;
    display: inline-block;
    border: 2px solid #898888;
    margin-bottom: 25px;
}

.heading div {
    margin-left: 110px;
    margin-top: -30px;
    color: #333333;
    display: flex;
    align-items: center;
}

.heading div p {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 30px;
    color: #898888;
    padding-left: 40px;
    padding-top: 30px;

}

.heading div h1::after {
    content: "";
    width: 22px;
    height: 22px;
    background-color: #333333;
    display: inline-block;
    border-radius: 50px;
}

.main-right .btn-heading {
    position: absolute;

    bottom: -70px;
    right: -190px;
}

.main-right .btn-heading button {
    background-color: #333333;
    color: #FFFFFF;
    padding: 17px 78px;
    border: none;
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
}


@media screen and (max-width:1000px) {
    .main-right .heading {
        position: absolute;
        left: 0%;
        top: 156px;

    }

    .heading h1 {
        font-size: 4rem;

    }

    .main-right .btn-heading {
        position: absolute;
        left: 1rem;
        bottom: -70px;

    }

}

@media screen and (max-width:600px) {
    .main-right .heading {
        position: absolute;
        left: 0%;
        top: 156px;

    }

    .heading h1 {
        font-size: 4rem;

    }

    .main-right .btn-heading {
        right: 100px;
    }

    .main-right .btn-heading button {
        background-color: #333333;
        color: #FFFFFF;
        padding: 10px 20px;
        border: none;
        font-size: 10px;
        font-weight: normal;
        cursor: pointer;
    }

    .heading div {
        margin-left: 60px;
        margin-top: -30px;
        color: #333333;
        flex-direction: column;
        align-items: center;
    }

    .heading div p {
        font-size: 1rem;
        line-height: 10px;
        padding-left: 20px;
        padding-top: 10px;

    }
}

/* social icons  */
.main-right .social-icons {
    position: relative;
    left: 97rem;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    overflow: hidden;
    cursor: pointer;
}

.main-right .social-icons img {
    width: 20px;
}

.main-right .social-icons img:nth-child(2) {
    width: 16px;
}

.main-right .social-icons img:nth-child(4) {
    width: 20px;
}

@media screen and (max-width:1000px) {
    .main-right .social-icons {

        left: 10rem;
        display: flex;
        flex-direction: row;
        gap: 30px;


    }

    .bottom .arrow-img {
        display: none;
    }

    .main-left img {
        display: none;
    }

}

@media screen and (max-width:600px) {
    .main-right .social-icons {
        display: none;
    }

    .bottom .arrow-img {
        display: none;
    }

    .main-left img {
        display: none;
    }

}

/* bottm dot line section  */
.bottom ul {
    position: absolute;
    bottom: 3rem;
    left: 45rem;
}

.bottom ul li {
    display: flex;
    align-items: center;
    padding: 20px;
}

.bottom ul li>p {
    padding-left: 20px;
    font-size: 1.3rem;
}

.bottom .vertical-line {
    height: 95%;
    width: 2px;
    background-color: black;
    position: absolute;
    left: 29px;
    top: 22px;
    z-index: -1;
}

.dot {
    height: 21px;
    width: 21px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.bottom .active {
    height: 21px;
    width: 21px;
    background-color: rgb(5, 5, 5);
    border-radius: 50%;
    display: inline-block;

}

@media screen and (max-width:1000px) {
    .bottom ul {
        left: 4rem;
        bottom: 1rem;
    }
}

@media screen and (max-width:600px) {
    .bottom ul {
        left: 0rem;
        bottom: 1rem;
    }

    .bottom ul li>p {
        padding-left: 5px;
        font-size: 0.8rem;
    }

    .dot {
        height: 15px;
        width: 15px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
    }
}

/* bottom qoute section  */
.qoute {
    display: flex;

    flex-direction: column;
    position: absolute;
    bottom: 0rem;
    left: 60rem;

}

.qoute .qoute-icon {
    font-size: 60px;
}

.qoute p {
    margin-bottom: 10px;
}

.qoute>div {
    height: 15rem;
    width: 15rem;
}

.qoute img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bottom .arrow-img {
    position: absolute;
    left: 94rem;
    bottom: 20px;
}

@media screen and (max-width:1000px) {
    .qoute {
        left: 20rem;
        bottom: 0px;
    }

    .qoute>div {
        height: 10rem;
        width: 10rem;
    }
}

@media screen and (max-width:600px) {
    .qoute {
        left: 10rem;
        bottom: 0px;
        flex-wrap: wrap;
        width: 30px;
    }

    .qoute>div {
        height: 5rem;
        width: 5rem;
    }
}